body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}


.container{
    display: flex;

}


.left-side{
    width: 40vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    /* border-style: dashed;
    border-color: rgb(215, 2, 2);
    border-width: 2px; */
}

.left-side img {
  width: 100%;       
  height: 100%;      
  object-fit: cover; 
  display: block;
}

.right-side{
    width:  60vw;
    height: 100vh;
    /* border-style: dashed;
    border-color: rgb(220, 3, 3);
    border-width: 2px; */
    display: flex;
    flex-direction: column;
}

.top{
    background-color: rgb(249, 250, 241);
    height: 40vh;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    align-content: center;
}


.middle{
    z-index: 1;
    height: 30vh;
    width: 100%;
    background-color: white;
    box-shadow: 0px 10px 10px rgb(114, 114, 114) ;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    
    
}

.bottom{
    background-color: rgb(249, 250, 241);
    width:  60w;
    height: 30vh;
}


.field{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    letter-spacing: 1.5px;
    font-weight: bold;
    color: rgb(84, 84, 84);
    font-size: 12px; 
    
}

.middle p{
    font-size: 30px;
    font-weight: bold;
  
}

.first-row, .second-row, .third-row{
    display: flex;
    gap: 50px;
    
}

input{
    padding: 6px 10px;
    border-radius: 3px;
    width: 220px;
    border: 1px solid #bebebe;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}