body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}


.container{
    display: flex;

}


.left-side{
    width: 40vw;
    height: 100vh;
    border-style: dashed;
    border-color: rgb(215, 2, 2);
    border-width: 2px;
}

.right-side{
    width:  60vw;
    height: 100vh;
    border-style: dashed;
    border-color: rgb(220, 3, 3);
    border-width: 2px;
    display: flex;
    flex-direction: column;
}

.top{
    height: 40vh;
    border-style: dashed;
    border-color: rgb(220, 3, 3);
    border-width: 2px;
}


.middle{
    height: 30vh;
    border-style: dashed;
    border-color: rgb(220, 3, 3);
    border-width: 2px;
}

.bottom{
    width:  60w;
    height: 30vh;
    border-style: dashed;
    border-color: rgb(220, 3, 3);
    border-width: 2px;
}